# Taller 2

In [38]:
import pandas as pd
dataFr = pd.read_csv('https://raw.githubusercontent.com/asalber/manual-python/master/datos/colesterol.csv')
dataFr

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [ ]:
#Renombrar las columnas ‘nombre’ por ‘nombre_apellido’ y ‘altura’ por ‘estatura’.Los index 0,1 y 2 por 1000,1001 y 1003.

In [39]:
#Mostrar datos específicos • colesterol 249 • altura 1.94 •Datos index 5 y 7,no mostrar colesterol • Todas las filas,columnas 0,1,5

print(dataFr.loc[5,'colesterol'])

print(dataFr.loc[8,'altura'])

249.0
1.94

In [33]:
# Eliminar filas con datos desconocidos

dataFr.dropna()

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    M   65.0    1.73       232.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    M   61.0    1.77       194.0

In [30]:
#Eliminar index 1 y 13.

print(dataFr.drop([1,13]))

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    H   85.0    1.79       182.0
2             Javier García Sánchez    24    H    NaN    1.81       191.0
3               Carmen López Pinzón    35    M   65.0    1.70       200.0
4              Marisa López Collado    46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    H   62.0    1.72       276.0
7             Pilar Martín González    22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    M   55.0    1.62       262.0
11       José María de la Guía Sanz    58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    H  109.0    1.98       210.0

In [15]:
#Añadir 2 registros al dt.

dataFr = dataFr.append(pd.Series(['Mauricio Carrion','19','H',65.5,1.7,201.3], 
                                 index =['nombre','edad','sexo','peso', 'altura', 'colesterol']), ignore_index=True)

dataFr = dataFr.append(pd.Series(['David Sanchez','20','H',70,1.82,221.5], 
                                 index =['nombre','edad','sexo','peso', 'altura', 'colesterol']), ignore_index=True)

dataFr

C:\Users\jeant\AppData\Local\Temp\ipykernel_10320\394248303.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataFr = dataFr.append(pd.Series(['Mauricio Carrion','19','H',65.5,1.7,201.3],
C:\Users\jeant\AppData\Local\Temp\ipykernel_10320\394248303.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataFr = dataFr.append(pd.Series(['David Sanchez','20','H',70,1.82,221.5],

                             nombre edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo   18    H   85.0    1.79       182.0
1                    Rosa Díaz Díaz   32    M   65.0    1.73       232.0
2             Javier García Sánchez   24    H    NaN    1.81       191.0
3               Carmen López Pinzón   35    M   65.0    1.70       200.0
4              Marisa López Collado   46    M   51.0    1.58       148.0
5                 Antonio Ruiz Cruz   68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña   51    H   62.0    1.72       276.0
7             Pilar Martín González   22    M   60.0    1.66         NaN
8              Pedro Gálvez Tenorio   35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano   46    H   75.0    1.85       280.0
10            Macarena Álvarez Luna   53    M   55.0    1.62       262.0
11       José María de la Guía Sanz   58    H   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez   27    H  109.0    1.98       210.0
13            Carolina Rubio Moreno   20    M   61.0    1.77       194.0
14                 Mauricio Carrion   19    H   65.5    1.70       201.3
15                    David Sanchez   20    H   70.0    1.82       221.5

In [16]:
#Mostrar datos donde Sexo = H y colesterol > 200
print(dataFr[(dataFr['sexo']=='H') & (dataFr['colesterol'] > 200)])

                             nombre edad sexo   peso  altura  colesterol
5                 Antonio Ruiz Cruz   68    H   66.0    1.74       249.0
6           Antonio Fernández Ocaña   51    H   62.0    1.72       276.0
8              Pedro Gálvez Tenorio   35    H   90.0    1.94       241.0
9           Santiago Reillo Manzano   46    H   75.0    1.85       280.0
12  Miguel Angel Cuadrado Gutiérrez   27    H  109.0    1.98       210.0
14                 Mauricio Carrion   19    H   65.5    1.70       201.3
15                    David Sanchez   20    H   70.0    1.82       221.5

In [18]:
#Ordenar los datos de forma descendente acorde al peso.

print(dataFr.sort_values('peso', ascending = False))

                             nombre edad sexo   peso  altura  colesterol
12  Miguel Angel Cuadrado Gutiérrez   27    H  109.0    1.98       210.0
8              Pedro Gálvez Tenorio   35    H   90.0    1.94       241.0
0      José Luis Martínez Izquierdo   18    H   85.0    1.79       182.0
11       José María de la Guía Sanz   58    H   78.0    1.87       198.0
9           Santiago Reillo Manzano   46    H   75.0    1.85       280.0
15                    David Sanchez   20    H   70.0    1.82       221.5
5                 Antonio Ruiz Cruz   68    H   66.0    1.74       249.0
14                 Mauricio Carrion   19    H   65.5    1.70       201.3
1                    Rosa Díaz Díaz   32    M   65.0    1.73       232.0
3               Carmen López Pinzón   35    M   65.0    1.70       200.0
6           Antonio Fernández Ocaña   51    H   62.0    1.72       276.0
13            Carolina Rubio Moreno   20    M   61.0    1.77       194.0
7             Pilar Martín González   22    M   60.0    1.66         NaN
10            Macarena Álvarez Luna   53    M   55.0    1.62       262.0
4              Marisa López Collado   46    M   51.0    1.58       148.0
2             Javier García Sánchez   24    H    NaN    1.81       191.0

In [22]:
#Modificar H(hombre) por M y M(mujer) por F

dataFr['sexo'] = ['M' if sn == 'H' else 'F' for sn in dataFr['sexo']]
dataFr

                             nombre  edad sexo   peso  altura  colesterol
0      José Luis Martínez Izquierdo    18    M   85.0    1.79       182.0
1                    Rosa Díaz Díaz    32    F   65.0    1.73       232.0
2             Javier García Sánchez    24    M    NaN    1.81       191.0
3               Carmen López Pinzón    35    F   65.0    1.70       200.0
4              Marisa López Collado    46    F   51.0    1.58       148.0
5                 Antonio Ruiz Cruz    68    M   66.0    1.74       249.0
6           Antonio Fernández Ocaña    51    M   62.0    1.72       276.0
7             Pilar Martín González    22    F   60.0    1.66         NaN
8              Pedro Gálvez Tenorio    35    M   90.0    1.94       241.0
9           Santiago Reillo Manzano    46    M   75.0    1.85       280.0
10            Macarena Álvarez Luna    53    F   55.0    1.62       262.0
11       José María de la Guía Sanz    58    M   78.0    1.87       198.0
12  Miguel Angel Cuadrado Gutiérrez    27    M  109.0    1.98       210.0
13            Carolina Rubio Moreno    20    F   61.0    1.77       194.0

In [27]:
#Añadir la columna triglicéridos, para colesterol > 250 True caso contrario False

dataFr['triglicéridos'] = pd.Series(['True' if sn > 250 else 'False' for sn in dataFr['colesterol']])
dataFr

,nombre,edad,sexo,peso,altura,colesterol,triglicéridos
0,José Luis Martínez Izquierdo,18,H,85.0,1.79,182.0,False
1,Rosa Díaz Díaz,32,M,65.0,1.73,232.0,False
2,Javier García Sánchez,24,H,NaN,1.81,191.0,False
3,Carmen López Pinzón,35,M,65.0,1.70,200.0,False
4,Marisa López Collado,46,M,51.0,1.58,148.0,False
5,Antonio Ruiz Cruz,68,H,66.0,1.74,249.0,False
6,Antonio Fernández Ocaña,51,H,62.0,1.72,276.0,True
7,Pilar Martín González,22,M,60.0,1.66,NaN,False
8,Pedro Gálvez Tenorio,35,H,90.0,1.94,241.0,False
9,Santiago Reillo Manzano,46,H,75.0,1.85,280.0,True
10,Macarena Álvarez Luna,53,M,55.0,1.62,262.0,True
11,José María de la Guía Sanz,58,H,78.0,1.87,198.0,False
12,Miguel Angel Cuadrado Gutiérrez,27,H,109.0,1.98,210.0,False
13,Carolina Rubio Moreno,20,M,61.0,1.77,194.0,False